:root {
 --cor_fundo: black;
 --cor_letra: white;
 --tamanho_letra: 15px;
 --cor_transition1: rgba(80, 193, 221, 0.712);
 --fonte: "Roboto Condensed", sans-serif;
 --cor_objeto: black;
 --cor_transition: white;
}

body{
    padding: 0;
    margin: 0;
    font-family: var(--fonte);
    
}

.menu{
    position: fixed;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--cor_fundo);
}

a{
    text-decoration: none;
    color: var(--cor_letra);
    font-size: var(--tamanho_letra);
    font-family: var(--fonte);
}

a:hover {
    color: var(--cor_transition1);
}

.navegacao{
    transition: border 2s;
    
}

.navegacao:hover{
    border-bottom: solid 1px var(--cor_transition1);
}

.lado_esquerdo ul{
    display: flex;
    margin-left: 5px;
}

.lado_direito li{
    display: inline;
    margin: 7px;
    flex-direction: row;
    justify-content: space-between;
}

.lado_direito ul{
    padding-right: 45px;
}

/*Menu*/

#fundo_menu{
    margin: 0;
    height: 400px;
    background: url(./img/background_menu1.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--cor_letra);
    font-family: var(--fonte);
    font-size: 25px;
}

#icone{
    font-size: 100px;
    color: var(--cor_objeto);
    margin-bottom: 10px;

    transition: color 2s;
}

#icone:hover{
    color: var(--cor_transition);
    background-color: rgba(39, 39, 39, 0.473);
    padding: 10px;
    border-radius: 50%;
}

.redes_sociais{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 300px;
    margin-top: 0px;
}

.icon{
    background-color: rgba(39, 39, 39, 0.24);
    color: var(--cor_objeto);
    font-size: 35px;
    padding: 5px;
    border-radius: 20px;
    margin: 10px;
    margin-top: -5px;
    transition: font-size 1s;
}

.icon:hover{
    background-color: rgba(39, 39, 39, 0.589);
    color: var(--cor_transition);
    font-size: 40px;

}

/*Sobre*/

#sobre{
    display: flex;
    justify-content: center;
    font-family: var(--fonte);  
}
.container_informacoes{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: auto;
    margin-top: 50px;

    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);

}

.informacoes{
    margin: 20px;
    width: 300px;
}

.titulo{
    text-align: center;
    margin-bottom: 0;
}

#topicos{
    display: flex;
    direction: row;
    align-items: center;
    justify-content: space-evenly;

}

.topicos{
    margin: 21.5px;
}

/*Habilidades*/

.container_habilidades{
   display: flex;
   justify-content: center;
}

#habilidades{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: auto;
    margin-top: 30px;

    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

#tabela1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.skill{
    display: block;
    margin: 20px;
}

.dados{
    display: inline-flex;
    justify-content:
    space-around;
    width: 100%;
}

/*Portifolio*/

#portifolio{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.icones{
    display: flex;
    justify-content: center;    
}

.icon2{
    background-color: var(--cor_transition1);
    font-size: 30px;
    margin: 20px;
    padding: 10px;
    border-radius: 50%;
}

.icon2:hover{
    color: var(--cor_transition);
    background-color: var(--cor_transition1);
    padding: 10px;
    border-radius: 50%;
}

.container_portifolio{
    width: auto;
    display: flex;
    justify-content: space-evenly;
    padding: auto;
    margin-top: 50px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.graphic{
    display: block;
    margin: 30px;
    width: 320px;
    height: 260px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.425);
    transition: all 0.8s;
}

.graphic:hover{
    height: 265px;
    width: 325px;
}

/*Experiencia*/
#experiencia{
    display: flex;
    justify-content: center;
}

.container_experiencias{
    display: flex;
    width: 60%;
    justify-content: space-between;
    padding: 0;
    height: 100px;

    margin-top: 30px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.lado_esquerdo2{
    display: flex;
    background-color: var(--cor_transition1);
    color: var(--cor_letra);
    font-weight: bold; /*Deixar em Negrito*/

    width: 30%;
    align-items: center;
    justify-content: center;
}

.lado_direito2{
    display: flex;
    background-color: aliceblue;
    width: 70%;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: auto;

    border-left: 0.5px solid black;
}
