:root {
 --cor_fundo: black;
 --cor_letra_menu: white;
 --tamanho_letra: 15px;
 --cor_transition1: rgba(80, 193, 221, 0.712);
 --cor-ladoE2: rgb(24, 193, 235);
 --fonte: "Roboto Condensed", sans-serif;
 --cor_objeto: black;
 --cor_usuario: rgba(0, 0, 0, 0.897);
 --cor_transition: white;
 --fundo-tela: url(./img/background_menu1.jpg);
 --cor_transition_background: rgba(39, 39, 39, 0.671);
 --fundo-container: #ffffff;
 --cor_letra: black;
 --cor_box_shadow: rgba(0, 0, 0, 0.3);
 --posicao_do_botao: start;
 --imagem_do_botao: url(./img/brilho-do-sol.png);
 --fundo_rodape: rgb(21, 25, 46);
 --logo: url(./img/icon-miranha.webp);
}

.dark {
    --cor-ladoE2: rgb(103, 106, 107);
    --cor_fundo: rgb(194, 194, 194);
    --cor_letra_menu: black;
    --tamanho_letra: 15px;
    --cor_transition1: rgba(255, 255, 255, 0.712);
    --fonte: "Roboto Condensed", sans-serif;
    --cor_objeto: white;
    --cor_usuario: rgba(153, 146, 146, 0.897);
    --cor_transition: black;
    --fundo-tela: url(./img/background_menuDark.webp);
    --cor_transition_background: rgba(180, 174, 174, 0.473);
    --fundo-container: rgb(29, 28, 28);
    --cor_letra: white;
    --cor_box_shadow: rgba(180, 174, 174, 0.473);
    --posicao_do_botao: end;
    --imagem_do_botao: url(./img/Lua.png);
    --fundo_rodape: rgb(25, 25, 26);
    --logo: url(./img/icon-miranha_preto.png);
}

body{
    padding: 0;
    margin: 0;
    font-family: var(--fonte);    
    overflow-x: hidden;
    background: var(--fundo-tela);
    background-size: cover;
    background-repeat: no-repeat;  
    background-attachment: fixed;      
    
}

body p {
    color: var(--cor_letra);
}

h1{
    color: var(--cor_letra);
}


.menu{
    position: fixed;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--cor_fundo);
    z-index: 1;
}

a{
    text-decoration: none;
    color: var(--cor_letra_menu);
    font-size: var(--tamanho_letra);
    font-family: var(--fonte);
}

a:hover {
    color: var(--cor_transition1);
}

/* ------------------------------------------------------*/

/* NAVEGACAO */

.navegacao{
    transition: border 2s;
    
    
}

.navegacao:hover{
    border-bottom: solid 1px var(--cor_transition1);
}

/*LADO ESQUERDO*/
.lado_esquerdo{
    display: flex;
}

.lado_esquerdo ul{
    display: flex;
    align-items: center;
    
}

/*LADO DIREITO*/

.lado_direito{
    display: flex;
}

.lado_direito li{
    display: inline;
    margin: 7px;
    flex-direction: row;
    justify-content: space-between;
}

.lado_direito ul{
    display: flex;
}

.container_tema{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    
}

.tema{
    display: flex;
    align-items: center;
    justify-content: var(--posicao_do_botao);
    width: 60px;
    height: 31px;
    background-color: rgb(87, 87, 90);
    z-index: 2;
    position: relative;
      border-radius: 30px;
      
}

#botao_tema{
    display: block;
    height: 36px;
    width: 35px;
    cursor: pointer;
    z-index: 1;
    position: absolute;
     background: white var(--imagem_do_botao);
     background-repeat: no-repeat;
     background-position: center;
     background-size: 20px;
     border: none;
       border-radius: 50%;
}


/* ------------------------------------------------------*/

/*MENU INFERIOR*/

#fundo_menu{
    margin: 0;
    width: 100%;
    height: 60vh;  
    
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--cor_letra_menu);
    font-family: var(--fonte);
    font-size: 25px;
}

.conteudo_menu{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: auto;   
    justify-content: space-evenly;

}

#logo-menu{
    background: var(--logo);
    border-radius: 50%;
    height: 27vh;
    width: 27vh;
    background-size: 11em;
    background-repeat: no-repeat;
    background-position-x: center;
}

#nome{
    color: var(--cor_objeto);
    margin-top: 1em;
    font-size: 25px;
    font-weight: bold;    
    font-style: italic;
    letter-spacing: 1px;
}

.redes_sociais{
    display: flex;
    justify-content: center;    
    margin-top: 1em;
    
}

.icon{
    background-color: rgba(39, 39, 39, 0.24);
    color: var(--cor_objeto);
    font-size: 35px;
    padding: 5px;
    border-radius: 20px;
    margin: 10px;
    margin-top: -5px;
    transition: font-size 1s;
}

.icon:hover{
    background-color: var(--cor_transition_background);
    color: var(--cor_transition);
    font-size: 40px;

}

/*///////////////////////////////////*/
                /*  main*/  

main {
    background-color: var(--fundo-container);
    padding: 5em 0em;
}   

/* ------------------------------------------------------*/

/*Sobre*/

#sobre{
    display: flex;
    justify-content: center;
    font-family: var(--fonte);
    color: var(--cor_letra);    
}
.container_informacoes{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: auto;
    margin-top: 50px;

    box-shadow: 4px 4px 8px var(--cor_box_shadow);

}

.informacoes{
    padding: 20px;
    margin: 20px;
    width: 40%;
}

.informacoes2{
    padding: 20px;
    margin: 20px;
    width: 60%;
}

.titulo{
    text-align: center;
    margin-bottom: 0;
}

#topicos{
    display: flex;
    direction: row;
    align-items: center;
    justify-content: space-evenly;

}

.topicos{
    margin: 21.5px;
}

/* ------------------------------------------------------*/

/*Habilidades*/

.container_habilidades{
   display: flex;
   justify-content: center;
}

#habilidades{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: auto;
    margin-top: 30px;

    box-shadow: 4px 4px 8px var(--cor_box_shadow);
}

#tabela1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.skill{
    display: block;
    margin: 20px;
}

.dados{
    display: inline-flex;
    justify-content:
    space-around;
    width: 100%;
}

/* ------------------------------------------------------*/

/*Portifolio*/

#portifolio{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

 /*ICONES*/
.icones{
    display: flex;
    justify-content: center;
}

.icon2{
    background-color: var(--cor_transition1);
    font-size: 30px;
    margin: 20px;
    padding: 10px;
    border-radius: 50%;
}

.icon2:hover{
    color: var(--cor_transition);
    background-color: var(--cor_transition_background);
    padding: 10px;
    border-radius: 50%;
}

/* ------------------------------------------------------*/

/*IMAGENS*/

.container_portifolio{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: auto;
    margin-top: 50px;
    box-shadow: 4px 4px 8px var(--cor_box_shadow);
}

.port{
    display: flex;
    flex-direction: row;
}

.graphic{
    display: block;
    margin: 30px;
    width: 320px;
    height: 260px;
    box-shadow: 4px 4px 8px var(--cor_box_shadow);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    transition: all 1s;
    
}

.graphic:hover{
    height: 265px;
    width: 325px;
}

/* ------------------------------------------------------*/

/*Experiencia*/

#titulo-exp{
    color: white;
    text-align: center;
    text-shadow: #000000 0 2px;

}

#experiencia{
    display: flex;
    justify-content: center;
}

#experiencia p{
    color: black;
}


.container_experiencias{
    display: flex;
    width: 60%;
    justify-content: space-between;
    padding: 0;
    height: 100px;

    margin-top: 30px;
    box-shadow: 6px 6px 10px var(--cor_box_shadow);
}

.lado_esquerdo2{
    display: flex;
    background-color: var(--cor-ladoE2);
    font-weight: bold; /*Deixar em Negrito*/

    width: 30%;
    align-items: center;
    justify-content: center;
}



.lado_direito2{
    display: flex;
    background-color: aliceblue;
    width: 70%;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: auto;

    border-left: 0.5px solid black;
}

/* ------------------------------------------------------*/

/*RODAPÉ*/
footer {
    background-color: var(--fundo_rodape);
    bottom: 0;    
    margin-top: 8vh;
    display: flex;
    margin-bottom: 0;  
    padding: 5em; 
    justify-content: center;       
}

.container_rodape{
    display: flex;
    height: 25vh;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

#logo-rodape {
    background: var(--logo);
    border-radius: 50%;
    height: 27vh;
    width: 27vh;
    background-size: 18em;
    background-repeat: no-repeat;
    background-position-x: center;
}

.rodape2{
    display: flex;
    flex-direction: column;    
    width: 10%;
}

.rodape2 h1{
    color: white;
    text-align: center;
}

.contato-rodape p{
    color: white;
    text-align: center;
}

.contato-rodape{
    text-align: start;
    display: flex;
    flex-direction: row;
    align-items: center;    
}

.icon-contato_rodape{
    font-size: 40px;
    color: rgba(160, 150, 150, 0.603);
    margin-right: 0.2em;
}

/* ------------------------------------------------------*/

/* RESPONSIVIDADE */

@media (min-width: 490px){  
   .menu ul li a{
    font-size: 11px;
    padding: 0;
   }
   
    .lado_direito ul li{
    margin: 3px; 
     
   }
   .lado_esquerdo {
    width: 10%;    
   }


   .tema {
    width: 50px;
    height: 26px;
   }

   #botao_tema{
    height: 26px;
    width: 25px;
    background-size: 10px;
   }

   .container_informacoes{
    width: 100%;
    padding: 2px;
    font-size: 13px;
   }

   .informacoes2{
    width: 45%;
   }

   #habilidades{        
    width: 100%;
    font-size: 13px;   
    }

.port{
    display: flex;
    flex-direction: column;
}

.container_experiencias{
    width: 90%;
}

footer{
    padding: 5em 1em;    
}

.container_rodape{
    width: 100%;
}

 
.rodape2{
    width: 45%;
}

#logo-rodape{
    background: var(--logo);
    border-radius: 50%;
    height: 24vh;
    width: 24vh;
    background-size: 15em;
    background-repeat: no-repeat;
    background-position-x: center;
}

}

@media (min-width: 600px) { 
    .menu ul li a{
        font-size: 16px;        
       }
       
        .lado_direito ul li{
        margin: 7px; 
         
       }
       .lado_esquerdo {
        width: 10%;    
       }
    
    
       .tema {
        width: 60px;
        height: 31px;
       }
    
       #botao_tema{
        height: 36px;
        width: 35px;
        background-size: 20px;
       }

       .container_informacoes{
        width: 80%;
        padding: 10px;
        font-size: 16px;
       }

       #habilidades{        
        width: 90%;
        font-size: 18px;
       }

       .port{
            display: flex;
            flex-direction: row;
        }

        .container_experiencias{
            width: 60%;
        }

        footer{
            padding: 5em 1em;            
        }

        .container_rodape{
            width: 100%;
        }


  }


  @media (min-width: 1000px){
    footer{        
        padding: 5em 10em;        
    }

    .contato-rodape{
        width: 60%;
    }

    .rodape2{
        width: 30%;
    }
  }
 
